<p>Welcome to {{ hotelName }}</p>

<div [hidden]="hiderooms">
  Number of rooms: {{ numberofrooms }}
  <!-- <div [innerText]="numberofrooms"></div> -->
  <button class="btn btn-primary" (click)="count()">Toggle</button>
</div>

<div
  [ngStyle]="{ color: rooms.availableRooms == 0 ? 'Red' : 'Blue' }"
  *ngIf="rooms.availableRooms == 0"
>
  No rooms Available
</div>

<div *ngIf="rooms.availableRooms > 0" class="table-responsive">
  Room List
  <ake-room-list
    (selectedRoom)="selectRoom($event)"
    [rooms]="roomlist"
  ></ake-room-list>
</div>
