<div [hidden]="hiderooms">
  Number of rooms: {{ numberofrooms }}
  <!-- <div [innerText]="numberofrooms"></div> -->
  <button class="btn btn-primary" (click)="count()">Toggle</button>
</div>

<div
  [ngStyle]="{ color: rooms.availableRooms == 0 ? 'Red' : 'Blue' }"
  *ngIf="rooms.availableRooms == 0"
>
  No rooms Available
</div>

<div>
  <button class="btn btn-primary" (click)="addRoom()">Add Room</button>
</div>

<div *ngIf="rooms.availableRooms > 0" class="table-responsive">
  <ake-room-list
    (selectedRoom)="selectRoom($event)"
    [rooms]="roomlist"
    [message_Update]="message"
  ></ake-room-list>
</div>

<ake-studentlist></ake-studentlist>
