.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: linear-gradient(to bottom, rgb(214, 82, 34), rgb(255, 165, 0));
  color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: linear-gradient(to bottom, rgb(214, 82, 34), rgb(255, 165, 0));

}

.mattoolbar{
  background: linear-gradient(to bottom, rgb(214, 82, 34), rgb(255, 165, 0));

}
