<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav themeOrange"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>ATEC</mat-toolbar>

    <mat-nav-list>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>STUDENT</mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item [routerLink]="'Student'">Student List</a>
        <a mat-list-item [routerLink]="'Subject'">Subject Maintenance</a>
        <!-- Add more room links as needed -->
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>ROOMS</mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item [routerLink]="'Rooms'">Rooms List</a>
        <!-- Add more room links as needed -->
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="logout-button">
        <span class="spacer"></span>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="menu">
          <div [textContent]="Name"></div>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <!-- Add Content Here -->

    <div class="card">
      <div class="card-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
