<mat-card>
  <mat-card-content>
    <h1>{{ Title }}</h1>
    <button mat-raised-button color="primary" (click)="addStudentEmit()">
      Add Student
    </button>
    <button class="btn btn-warning" (click)="updateStudentEmit()">
      Update Student
    </button>

    <div *ngIf="studentsList$ | async as data">
      <p>Count: {{ data.count }}</p>

      <table class="table table-dark table-hover table-bordered">
        <thead>
          <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Age</th>
            <th>Subjects</th>
          </tr>
        </thead>

        <tbody *ngFor="let student of data.studentDetails; let i = index">
          <tr (click)="selectStudent(student)">
            <td>{{ i }}</td>
            <td>
              {{ student.name }} {{ student.middleName }} {{ student.surname }}
            </td>
            <td>{{ student.age }}</td>
            <td>
              <ul>
                <li *ngFor="let subject of student.subjects">
                  {{ subject.subjectName }}
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card-content>
</mat-card>
